:root {
    --background-very-very-light: rgb(118, 123, 138);
    --background-very-light: rgb(93, 98, 113);
    --background-light: rgb(67, 72, 87);
    --background-dark: rgb(26, 28, 34);
    --background: rgb(37, 40, 48);
    --twitch: #6441a5;
    --bg: rgb(97, 102, 117);
    --var-one: #4285f4;
}

* {
    box-sizing: border-box;
    padding: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--background);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light);
    color: #fff;
    border-radius: 25px;
    padding: 20px;
    font-size: 140%;
    width:100%;
}

#download-img {
    height: 40px;
    fill: white;
}

#main-grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 1fr 5%;
    grid-template-areas:
    "."
    "."
    ".";
}

.one-one { grid-column: 1; grid-row: 1; }
.full-size { height: 100%; width: 100%; }

#emote-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

#overview-toolbox {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-rows: 2fr 2fr 4fr 1fr;
    grid-template-columns: 1fr;
}

#content-grid-container {
    padding: 3%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0px 2.5%;
}

#toolbox-grid-container {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-rows: 0.8fr repeat(3, 1fr) 0.4fr;
}

.toolbox-row {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 2.5%;
    align-items: center;
    :first-child {
        justify-self: left;
    }

    :nth-child(2) {
        justify-self: center;
    }
}

.toolbox-row-3 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 2.5%;
    justify-content: center;
    align-items: center;
}


header { font-size: 350%; }

header, footer {
    background-color: var(--background-dark);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#emote-name {
    font-size: 250%;
}

#page-selector {
    grid-row-end: -1;
}

#progress-container {
    display: grid;
    justify-content: center;
    align-items: flex-end;
}

#progress-image {
    width: 200px;
}

#progress-image-cover {
    background-color: var(--background-light);
    height: 200px;
    width: 200px;
}

#overview-link {
    grid-row-end: -1;
    width: 90%;
    border-radius: 0.25em;
    margin-left: 5%;
    font-size: larger;
}

.overview {
    z-index: -2;
}

#twitch-logo {
    margin-left: 15px
}

#draw-border {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn2 {
    background: none;
    color: var(--twitch);
    border-radius: 0.25em;
    position: relative;
    outline: none;
    padding: 0.35em 1.2em;
    box-sizing: border-box;
    text-decoration: none;
    margin: 10px;
    display: flex;
    &:hover {
        color: var(--twitch);
        &::before,
        &::after {
            width: 100%;
            height: 100%;
        }

        &::before {
            border-top-color: var(--twitch);
            border-right-color: var(--twitch);
            transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
        }

        &::after {
            border-bottom-color: var(--twitch);
            border-left-color: var(--twitch);
            transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
        }
    }


    &::before,
    &::after {
        box-sizing: inherit;
        position: absolute;
        content: '';
        border: 2px solid transparent;
        width: 0;
        height: 0;
    }

    &::after {
        bottom: 0;
        right: 0;
    }
    &::before {
        top: 0;
        left: 0;
    }
}

.breathing {
    transition: transform 0.5s;
    &:hover {
        transform: scale(1.25);
    }
}

/*! Pickr 1.8.0 MIT | https://github.com/Simonwep/pickr */
/* Button on page */
.pcr-button {
    position: relative;
    height: 2em;
    width: 8em;
    border-radius: 0.5em;
    transition: all .3s;
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
        background: currentColor;
    }
}

.pcr-app {
    * {
        border-radius: 0.5em;
    }
    width: 28.5em;
    max-width: 95vw;
    padding: .8em;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    border-radius: 1em;
    background: var(--bg);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s .3s;
    left: 0;
    top: 0;
    &.visible {
        transition: opacity .3s;
        visibility: visible;
        opacity: 1
    }
}

.pcr-interaction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    :hover {
        filter: brightness(0.9);
    }
    * {
        color: white;
    }
    input {
        letter-spacing: 0.07em;
        font-size: 0.75em;
        transition: all 0.15s;
        padding: 0.45em 0.5em;
        margin-top: 0.75em;
        &:focus {
            box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .85), 0 0 0 3px rgba(66, 133, 244, .75)
        }

    }
}

.pcr-result {
    flex: 1 1 8em;
    min-width: 8em;
    transition: all 0.2s;
    background-color: var(--background-light);

    &::-moz-selection,
    &::-moz-selection::selection,
    &::-moz-selection.active {
        background: var(--var-one);
    }
}


.pcr-save { background: var(--var-one); margin-left: 0.6em; }

.pcr-selection, .pcr-selection>* {
    display: flex;
}

.pcr-picker {
    position: absolute;
    height: 18px;
    width: 18px;
    border: 2px solid white;
    border-radius: 100%;
}

[class^="pcr-color"] {
    position: relative;
    flex-direction: column;
    cursor: grab;
    cursor: -webkit-grab;
    &:active {
        cursor: grabbing;
        cursor: -webkit-grabbing
    }
}

.pcr-palette { flex-grow: 1; }
.pcr-color-chooser { margin-left: 0.75em; }
.pcr-color-palette { width: 100%; height: 8em; }

.pcr-picker {
    left: 50%;
    transform: translateX(-50%);
}

.pcr-slider {
    width: 8px;
    flex-grow: 1;
    border-radius: 5em;
    background: linear-gradient(180deg, red, #ff0, #0f0, #0ff, #00f, #f0f, red)
}


/*  */

.btn-secondary {
    border-color: var(--background-very-light);
    background-color: var(--background-very-light);
    &:hover, &:focus {
        border-color: var(--background-very-light);
        background-color: var(--background-very-light);
        filter: brightness(0.9);
    }
}

.dropdown-item {
    border-color: var(--background-light);
    background-color: var(--background-light);
    &:hover &:focus {
        border-color: var(--background-light);
        background-color: var(--background-light);
        filter: brightness(0.9);
    }
}

.dropdown-menu-dark {
    border-color: var(--background);
    background-color: var(--background-light);
}
